mkdocs-material>=9.6
# sitemap plugin is built into mkdocs>=1.6 (pulled in by mkdocs-material)
mkdocstrings[python]>=0.27
mkdocs-gen-files>=0.5
mkdocs-literate-nav>=0.6
pymdown-extensions>=10.14
mkdocs-marimo
marimo>=0.13
mkdocs-git-revision-date-localized-plugin>=1.2
matplotlib>=3.8

# quantwave package from PyPI.
# We install the latest released version so that `import quantwave` works
# when exporting marimo notebooks to HTML during the docs build.
# Note: After a new release, it can take a little while for the new version
# to appear on PyPI. Use the latest available version here.
quantwave>=0.4.0
